/* Temp */
#pokeImage {
	width: 300px;
	height: 300px;
}

.pokeImage {
	height: 60px;
	width: 60px;
}

#pokeImage_2 {
	width: 200px;
	height: 200px;
}

#fPokemon {
	width: 100%;
  height: 200px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.box {
	background-color: black;
	border: 2px solid red;
	width: 100px;
	height: 100%;
}
/* End Temp */

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	/*
	background: #ff9966;
	background: -webkit-linear-gradient(to right, #ff9966, #ff5e62);
	background: linear-gradient(to right, #ff9966, #ff5e62);
	*/

	background: #00b09b; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #00b09b, #96c93d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #00b09b, #96c93d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	margin: 0px;
}

/* Menu */

#mTitle {
	font-size: 48px;
}

.pokemon-header {
	font-size: 56px;
}

#sTitle {
	margin-top: 50px;
	display: none;
}

#menu-title {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#sTitle {
	width: 100%;
	height: 100%;
	display: none;
/* 	justify-content: center; */
	align-items: center;
	flex-direction: column;
}

#tabs {
	width: 100%;
}

.tabs {
	width: 100%;
	height: 70px;
	background-color: #eee;
	margin-top: 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 10px;
	border: 2px solid #569CA9;
	box-shadow: 0px -1px 0 #97C6B5, 1px 0px 0 #97C6B5, 0px 0px 0 #97C6B5, -0px 1px 0 #97C6B5, 0px 0px 0 #97C6B5;
	font-family: 'Russo One', sans-serif;
}

.tabs h2 {
	padding: 10px;
	font-size: 20px;
	color: #268D95;
}

#gPick {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	flex: 1;
	font-family: 'Russo One', sans-serif;
	color: white;
	display: none;
}

.row {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	flex: 1;
}

.gen-box {
	background-color: rgba(66, 66, 66, 0.7);
	width: 100%;
	flex: 1;
	text-align: center;
	transition: 1000ms;
	border: 2px solid transparent;
}

.gen-box:hover {
	transition: 1000ms;
	border: 2px solid white;
}

#oMenu {
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menuHeaders {
	font-family: 'Russo One', sans-serif;
	font-size: 16px;
	color: white;
	text-shadow:
		3px 3px 0 #268D95,
		-1px -1px 0 #268D95,
		1px -1px 0 #268D95,
		-1px 4px 0 #268D95,
		1px 1px 0 #268D95;
	text-align: center;
}

.back-btn {
	border: none;
	background-color: rgba(66, 66, 66, 0.7);
	font-size: 14px;
	padding: 10px;
	border-radius: 20px 20px 20px 20px;
	color: white;
	font-family: 'Russo One', sans-serif;
}

#pokemon-found {
	display: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	flex: 1;
	font-family: 'Russo One', sans-serif;
	color: white;
	display: none;
}

.pok-box {
	background-color: rgba(66, 66, 66, 0.7);
	width: 100%;
	flex: 1;
	text-align: center;
	transition: 1000ms;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	border: 2px solid transparent;
	transition: 500ms;
}

.pok-box:hover {
	transition: 500ms;
	border: 2px solid white;
}

.pokemon-title {
	margin: 10px;
	font-size: 14px;
}

#back-btn-1 {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 5px;
}

/* End Menu */

/* Pokemon Details */

#pokemon-details {
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 0;
	font-family: 'Russo One', sans-serif;
	color: white;
	background-color: rgba(66, 66, 66, 0.5);
	justify-content: center;
	align-items: center;
}

.details-con {
	margin: 20px;
}

.details-con h2 {
	background-color: rgba(66, 66, 66, 0.5);
	border-radius: 20px 20px 20px 20px;
	display: inline;
	padding: 10px;
	margin: 10px;
}

.details-stats {
	background-color: rgba(66, 66, 66, 0.5);
	border-radius: 20px 20px 20px 20px;
	padding: 10px;
	width: 100%;

}

#pokemon-details {
	display: none;
}
/* End Details */

#game-div {
	display: none;
}

#stats {
	position: absolute;
}


#mDiv {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#pokemon-image {
	filter: brightness(0);
}

/* 'Pokemon' font */
#mHeader, #mButton, #stats, #sHeader, #mTitle, .pokeHeaders, #sButton, #endTitle {
	font-family: 'Joti One', cursive;
	color: #FFCB04;
	text-shadow:
		3px 3px 0 #39569E,
		-1px -1px 0 #39569E,
		1px -1px 0 #39569E,
		-1px 4px 0 #39569E,
		1px 1px 0 #39569E;
}

#mHeader {
	font-size: 32px;
	margin: 10px;

}

#sHeader {
	font-size: 28px;
	margin: 10px;
}

/* #4870A0 */
#mInput, #sInput {
	border-radius: 10px 10px 10px 10px;
	border: none;
	border: 2px solid #A0D0E0;
	width: 200px;
	height: 30px;
	box-shadow: 0px -2px 0 #4870A0, -1px 0px 0 #4870A0, 1px 0px 0 #4870A0, -0px 4px 0 #4870A0, 0px 0px 0 #4870A0;
}

#mButton, #sButton {
	margin: 20px;
	background-color: #0D47A1;
	border: none;
	font-size: 24px;
	border-radius: 10px 10px 10px 10px;
}

/* @media screen and (max-height: 480px) {
    body {
        overflow: auto;
    }
} */
